#event{
  margin-left:70px;
  margin-right:70px;
  line-height: 2em;
}

#createEventButton{
  float: right;
}

#calender {
 align: middle;

 .calendar-image {
  border-radius: 50%;
  background-image: url("/images/calendar-image.gif")
 }
}

// .event_details-container 
body{
  background-image: url("/images/IMG_1817.PNG");
  background-attachment:fixed;
}

.event-details{
  margin-left:30px;
  margin-right:50px;
  // float:right;
}

.event_details-container.expanded {
  display: flex;
  flex-direction: row;
  .event-details, .event-image {
    flex-direction: column;
    width: 70%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px; 
  }
}

.event_details-container{
  margin-left: 0px;
}
#details{
  margin-left:30px;
  margin-right:50px;

}

#event_detail_section{
  display:none;
}


.jumbotron {
  margin-bottom: 0;
  text-align: center;
  font-family: 'Pacifico', cursive; 
}

.form-inline {
  display: flex;
  flex-direction: row;
  .form-group {
    flex-direction: column;
    margin-right: 10px;
    font-color: white;
    &:last-child {
      align-self: flex-end;
      margin-right: 0;
    }
  }
}

.navbar{
  margin-bottom: 0px;
  font-color: black;
}

#first{
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  color: white;
}

#second{
  color: black;
  font-family: 'Fjalla One', sans-serif;
  font-size:20px;
  margin-top: 10px;

}

.navbar-brand{
  color:white;
  font-family: 'Pacifico', cursive; 
  font-size: 25px;
}

.navbar-left {
    float: right!important;
}
