#event{
  margin-left:70px;
  margin-right:70px;
}

#createEventButton{
  float: right;
}

#calender {
 align: middle;
}

#event_details{
  margin-left:70px;
  margin-right:70px;
}

#details{
  margin-left:70px;
  margin-right:70px;
}

#event_detail_section{
  display:none;
}

#background_img {
  background-image: url("");
}